body{
    margin : 0px;
    background-image:url('bg.png');
    background-repeat:no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
header nav{
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.con{
    display: flex;
    align-items: center;
    padding-right: 500px;
}
nav ul li{
    display: inline;
    list-style: none;
    color: white;
    margin: 10px;
}
button{
    color: white;
    background-color: #c31cbd;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: 'poppins';
}
.btn{
    font-size: larger;
}
img{
    height: 30px;
    width: 100px;
    margin: auto;
}
button:hover{
    background-color: #fff;
    cursor: pointer;
    color: #bd18b7;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    max-width: 846px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  text-align: center;
  color: #ffffff;
  padding-top: 172px;
  font-family: "Poppins", sans-serif;
}
p{
    font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;

}
.line{
    width:1px;
    height:25px;
    padding-left: 25px;
    border-right: 2px solid white;
    
}
